body {
    background-color: rgb(8, 0, 0);
}
span{
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div {
    background-color: white;
    margin: 10% 20% 0% 20%;
    font-size: 20px;
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

p {
    font-size: 23px;
    height: 25px;
    margin-right: 5%;
    margin-bottom: 0%;
    text-align: center;
}

td {
    padding: 10px;
    border: 2px solid black;
    width: 250px;
}

.pay {
    background-color: rgb(236, 242, 248);
    font-weight: bold;
}